JWT_SECRET=change_this_to_a_very_long_random_secret_at_least_512_bits
USERS_SERVICE_URL=http://service-users:8081
FINANCES_SERVICE_URL=http://service-finances:8082
CARDS_SERVICE_URL=http://service-cards:8083
NOTIFICATIONS_SERVICE_URL=http://service-notifications:8084
UPLOAD_SERVICE_URL=http://service-upload:8085
ALLOWED_ORIGINS=http://localhost:3000
